<template>
  <link rel="stylesheet" href="./components/word-count/word-count.component.css">
  <div class="container">
    <h2>Word Count Component</h2>
    <div class="row">
      <p>Caracteres contados: <b id="charcount"></b></p>
    </div>
    <div class="row">
      <p>Palabras contadas: <b id="wordcount"></b></p>
      <div>
        <button>Reset</button>
      </div>
    </div>
    <textarea id="textarea">Escribe aquí tu texto... </textarea>
  </div>
</template>
<script src="./word-count.component.js"></script>