.container {
  box-sizing: border-box;
  max-width: 400px;
  border: 1px solid #e2e2e2;
  padding: 15px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 5px 0px;
}
h2 {
  margin: 0;
  margin-bottom: 12px;
}
p {
  margin: 0;
}
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding:  15px 5px;
  font-family: sans-serif;
  font-size: 1em;
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
  max-height: 300px;
  margin-top: 20px;
}